@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

:root {
  --chart-success: #4ADE80;
  --chart-warning: #FCD34D;
  --chart-danger: #FB7185;
}

